__pycache__/
conceptual/entity-relationship-diagram-2.jpg
conceptual/interface-design-updated.psd
testing/test.db
testing/BirDayBer.db
bin/BirDayBer.db
bin/system-content/visual-content/BirDayBerIcon.ico
bin/system-content/visual-content/responsive
bin/system-content/visual-content/user-black.png
dependencies/__pycache__
